<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FitbitConsumerKey" value="your_client_id_here" />
    <add key="FitbitConsumerSecret" value="your_secret_here" />

    <!--
      Notes on the options:
      - Options starting with UseDefault*:
        When they are set to false, the program is configured to prompt the user at the start whether to use the default value or enter a new one
        When they are set to true, the program is configured to skip the prompt and automatically use the default value.
      - Dates are specified in one of three ways:
          YYYY-MM-DD (e.g. 2021-01-02)
        or
          0 (meaning today)
        or
          -X (which means X days before today)
      - Options for DefaultOverwriteBehavior:
        DeleteExisting - Delete existing file under path, and create new one
        MergePickExisting - Merge new data with data in existing file under path, and if any sleep blocks overlap, delete the new sleep block.
        MergePickNew - Merge new data with data in existing file under path, and if any sleep blocks overlap, delete the existing sleep block.
        Abort - Abort if file already exists under path. Do not overwrite.
    -->

    <add key="DefaultOverwriteBehavior" value="" />
    <add key="UseDefaultOverwriteBehavior" value="False" />

    <add key="DefaultSleepDataRegistryPath" value="" />
    <add key="UseDefaultSleepDataRegistryPath" value="False" />

    <add key="DefaultStartDate" value="" />
    <add key="UseDefaultStartDate" value="False" />

    <add key="DefaultEndDate" value="" />
    <add key="UseDefaultEndDate" value="False" />

  </appSettings>
</configuration>
